.avatar {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: white;
  color: #555b6d;
  border: solid 1px;
  display: flex;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  width: 100%;
  border-radius: 50% !important;
}

.avatarContainer {
  height: 50px;
  width: 50px;
  margin: 20px auto 5px auto;
}

.nombre {
  color: white;
}
.userContainer {
  text-align: center;
  width: 250px;
}

.ul {
  list-style: none;
  padding-left: 10px;
}
.ul li a {
  text-decoration: none;
  color: #a6b0cf;
}

.ul li a:hover {
  text-decoration: none;
  color: white;
}

.ul li {
  margin-bottom: 1rem;
}

.faGamepad {
  margin-right: 10px;
}

.faCode {
  margin-right: 10px;
}
.faUser {
  margin-right: 12px;
}
.faGithubAlt {
  margin-right: 15px;
}
.faAws {
  margin-right: 10px;
}
.faPlus {
  margin-right: 13px;
  margin-left: 3px;
}

.menu {
  padding: 10px 10px 10px 20px;
  width: 250px;
}

.tituloMenu {
  letter-spacing: 0.05em;
  pointer-events: none;
  cursor: default;
  font-size: 13px;
  text-transform: uppercase;
  color: wheat;
  font-weight: 600;
}

/* Navigation */
.nav {
  display: flex;
  padding: 5px 10px 5px 25px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-bottom: 2px;
}

.logo {
  margin-left: auto;
  text-align: center;
}

.faBars {
  cursor: pointer;
  color: #555b6d;
  font-size: 20px;
  height: 50px;
}

.angularLogo {
  height: 50px;
}

.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.3s;
  background-color: #282c34;
  color: #a6b0cf;
}

.sidebarClicked {
  width: 0px !important;
}
.mainLayoutClicked {
  margin-left: 0px !important;
}

.mainLayout {
  margin-left: 250px;
  transition: 0.3s;
  background-color: #f6f6f9;
}

.buscadorContainer {
  display: flex;
}

.appBuscadorContainer {
  width: 100% !important;
}

@media (max-width: 768px) {
  .nav {
    display: block;
  }
  .mainLayout {
    width: 100%;
  }
  .logo {
    display: none;
  }
}
