<div class="container">
  <h3>Arquitectura de este sistema</h3>
  <div class="card">
    <div class="rowCard">
      <p class="card-text">
        En esta sección se muestra la arquitectura general, a nivel de red, de
        este sistema.
      </p>
    </div>
  </div>
  <div class="card fitContent">
    <div class="rowCard">
      <img src="/assets/images/arquitectura.webp" alt="arquitectura" />
    </div>
  </div>
  <div class="card">
    <div class="rowCard">
      <p class="card-text">
        El sistema consiste en un frontend (aplicación web) que hace fetch a un
        backend mediante el protocolo https. Todo el proyecto utiliza servicios
        de AWS, tales como instancias de máquinas virtuales y un servidor de
        almacenamiento Storage S3.
      </p>
    </div>
  </div>
</div>
