<div class="container">
  <h3 class="h3">Más información</h3>
  <div class="card">
    <div class="rowCard">
      <div class="cardBody">
        <p class="card-text">
          El objetivo de este proyecto es funcionar como demostración que dejo
          como repositorio público en mi cuenta de github.
        </p>

        <p class="card-text">
          Desarrollé el sistema completo, tanto el frontend como el backend y
          realicé su posterior despliegue en instancias de mi cuenta personal de
          AWS.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="rowCard">
      <div class="cardBody">
        <p class="card-text">
          Este panel frontend fue desarrollado utilizando
          <strong>Angular</strong>
        </p>
        <a
          target="_blank"
          href="https://github.com/Claudan/angular-juegos-de-mesa"
          rel="noreferrer"
        >
          Link del repositorio
        </a>
      </div>
    </div>
  </div>
</div>
